
body {
	font-family: -apple-system,Helvetica Neue,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Open Sans,sans-serif;
	font-size: 14px;
}

h1 {
	font-size: 22px;
	padding: 0;
	margin: 0 0 10px;
}

h2 {
	font-size: 20px;
	padding: 0;
	margin-top: 5px;
	margin-bottom: 5px;
}

h3 {
	font-size: 16px;
	font-weight: bold;
	padding: 0;
	margin-top: 30px;
}

.default_svg {
	border: 2px solid lightgray;
	margin-bottom: 10px;
	margin-top: 10px;
    width: 900px;
    height: 500px;
}

.page {
	margin-left: 15px;
	padding-top: 10px;
	max-width: 1000px;
}

.bar{
	fill: indigo;
}


